{% extends "AppSpotify/padre.html" %}

{% load static %}

{% block contenidoDinamico %}

<div class="body__container">
    <div class="body__user">
        <div class="body__user__container">
            <span>👽</span><div>{{user}}</div>
        </div>
        <form action="" method="POST"> {% csrf_token %}
            <button  class="body__user__container" style="margin-left: 5px ; background-color: black; cursor: pointer;">
              <a style=" text-decoration: none; background-color: black; " href="/AppSpotify/logout"> Cerrar Sesion </a>
            </button>
        </form>
    </div>

    <div class="title">Favoritos 🔍 </div>

    <div class="perfil__container__lista" >
        <div class="formulario__text">Buscar favorito</div>
        <div class="form">
            <form class="form__perfil" action="/AppSpotify/buscar/" method="GET">
                <input id="input" type="text" name="dni" id="dni" placeholder=" Ingrese nombre">
                <br>
                <input class="button__enviar2" type="submit" value="Buscar">
            </form>
        </div>
    </div>

    <div class="perfil__container__lista">
        <div style="font-size: 20px; margin-top: 30px; margin-bottom: -20px;" class="formulario__text">Listar todos los&nbsp;<span style="color: #1DB954;"> favoritos</span></div>
        <div class="form">
            <form class="form__perfil" action="/AppSpotify/favoritos/lista" method="GET">
                <br>
                <input class="button__listar" type="submit" value="Listar">
            </form>
        </div>
    </div>
</div>

{% endblock %}