{% extends "AppSpotify/padre.html" %}

{% load static %}

{% block contenidoDinamico %}

<div class="body__container">
    <div class="body__user">
        <div class="body__user__container">
            <span>👽</span><div>{{user}}</div>
        </div>
            <button  class="body__user__container" style="margin-left: 5px ; background-color: black; cursor: pointer;">
              <a style=" text-decoration: none; background-color: black; " href="/AppSpotify/logout"> Cerrar Sesion </a>
            </button>
    </div>
    <div class="title">Agregar Contenido</div>
    <div class="perfil__container">
        <div class="perfil__container__form">
            <div class="formulario__text">Nuevo favorito</div>
            <div class="form">
                <form action="/AppSpotify/favoritos/" method="POST"> {% csrf_token %}

                    <p>Nombre: <br><input type="text" name="nombre" placeholder="Ingrese un nombre"></p>
                    <p>Artista: <br><input type="text" name="artista" placeholder="Ingrese un artista"></p>
                    <p>Album: <br><input type="text" name="album" 
                        placeholder="Ingrese album"></p>

                    <input class="button__enviar" type="submit" value="Enviar">

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}